:root {
  --primary-color: rgb(124, 124, 124);
  --secondary-color: rgb(255, 250, 255);
  --box-shadow: 3px 3px 10px rgba(124, 124, 124);
}

.Dictionary h2 {
  font-weight: normal;
  font-size: 18px;
}

.Dictionary input {
  width: 100%;
  font-size: 24px;
  border: 1px solid;
  border-radius: 3px;
  border-color: var(--secondary-color);
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
}

.Dictionary section {
  margin: 20px 0;
  padding: 5px;
  border: 1px solid;
  border-radius: 3px;
  border-color: var(--secondary-color);
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
}

.Results h1 {
  padding: 10px 0 5px 0;
}

.Phonetic .phonetic-link {
  margin-right: 10px;
  padding: 8px;
  border: 1px solid;
  border-radius: 20px;
  background: var(--primary-color);
  border-color: var(--primary-color);
  color: var(--secondary-color);
  text-decoration: none;
}

.Phonetic .phonetic-text {
  display: inline;
  line-height: 3.5;
}

.Meaning {
  margin: 20px 0;
  padding: 5px;
  border: 1px solid;
  border-radius: 3px;
  border-color: var(--secondary-color);
  background: var(--secondary-color);
  box-shadow: var(--box-shadow);
}

.Meaning p {
  color: var(--primary-color);
}

.Synonyms ul {
  color: var(--primary-color);
}

.Photos {
  padding: 10px;
  text-align: center;
  border: 1px solid;
  border-radius: 3px;
  border-color: var(--secondary-color);
  background: var(--secondary-color);
  color: var(--primary-color);
}

.Photos img {
  padding: 10px;
}

.Photos a {
  color: var(--primary-color);
}
